<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalogo</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div id="app">
    <div class="container">
        <h3 class="text-info">Consumindo API com Vue.js</h3>
        <hr />
        <div class="list-group" id="produtos" >
            <div class="list-group-item"  v-for="p in produtos">
                <span>Categoria: [[p.categoria.nome]]</span><br />
                <span>Nome: [[p.nome]]</span><br />
                <span>Descrição: [[p.descricao]]</span><br />
                <img :src="[[p.imagem]]" alt="Imagem"  class="rounded" style="width:200px;   border-radius: 50%;">
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/vue.min.js' %}"></script>
<script src="{% static 'js/axios.min.js' %}"></script>
<script>
    new Vue({
        el:'#app',
        delimiters: ['[[', ']]'],
        data(){
            return {
                produtos:null
            }
        },
        mounted(){
            axios
                .get("http://127.0.0.1:8000/api/catalogo/produto/")
                .then(response => (this.produtos = response.data))
        }
    })
</script>
</body>
</html>